.header {
	display: none;
}

.mobile-menu {
	position: fixed;
	padding: 20px 10px;
	background: #F5F6F8;
	inset: 0;
	overflow-y: scroll;
	z-index: 10;
}

.menu-close {
	position: fixed;
	top: 15px;
	right: 15px;
	z-index:11;
}

@media (width <= 765px) {
	.header {
		display: grid;
		margin: 15px 15px 0;
		gap: 10px;
		grid-template-columns: 1fr 40px;
	}
}
